openapi: 3.1.0
# FursuitWeather 公開APIのOpenAPI仕様
# 人向けの解説は docs/api.md を参照。数値・列挙の一部は
# test/htmlSync.test.ts が src/constants.ts と同期検証する
info:
  title: FursuitWeather API
  description: |
    着ぐるみ天気予報（FursuitWeather）の公開APIです。
    気象庁MSM/GSMモデル由来の気象データから、着ぐるみ活動の適否
    （WBGTベース）を判定して返します。CORS対応のため他のサイト・
    アプリからも利用できます。大量アクセスはデータ提供元
    （Open-Meteo）の無料枠を圧迫するためお控えください。
  version: 1.0.0
  license:
    name: Apache License 2.0
    url: https://github.com/223n/FursuitWeather/blob/main/LICENSE
servers:
  - url: https://fursuit-weather.223n.tech
paths:
  /api/forecast:
    get:
      summary: 着ぐるみ活動予報を取得する
      description: |
        指定した座標の時間別・日別の着ぐるみ活動判定を返します。
        正常レスポンスは`Cache-Control: public, max-age=600`で
        10分間ブラウザキャッシュされます。
      parameters:
        - name: lat
          in: query
          required: true
          description: 緯度
          schema: { type: number, minimum: -90, maximum: 90 }
        - name: lon
          in: query
          required: true
          description: 経度
          schema: { type: number, minimum: -180, maximum: 180 }
        - name: days
          in: query
          required: false
          description: 予報日数（気象庁MSMの予報範囲のため最大4日）
          schema: { type: integer, minimum: 1, maximum: 4, default: 4 }
        - name: demo
          in: query
          required: false
          description: >-
            `1`でデモデータを返す。このとき`lat`・`lon`・`days`は
            検証されず無視され、常に当日からの2日分を返す
          schema: { type: string, enum: ['1'] }
      responses:
        '200':
          description: 予報
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ForecastResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '502': { $ref: '#/components/responses/UpstreamError' }
  /api/geocode:
    get:
      summary: 都市名・郵便番号から地点候補を検索する
      description: |
        日本国内の地点候補を最大5件返します。郵便番号はzipcloudで
        市区町村名へ変換してから検索します。レスポンスは`no-store`で
        キャッシュされません。
      parameters:
        - name: q
          in: query
          required: true
          description: 都市名または郵便番号（ハイフンなし・全角も可）
          schema: { type: string, minLength: 1, maxLength: 100 }
      responses:
        '200':
          description: 地点候補（該当なしは空配列）
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GeocodeResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '502': { $ref: '#/components/responses/UpstreamError' }
  /api/national:
    get:
      summary: 全国主要都市の当日予報サマリーを取得する
      description: |
        全国の主要12都市の当日予報サマリーを返します（会場表示モードの
        全国スライド用）。都市単位のベストエフォートで、取得に失敗した
        都市は`cities`から除外されます（全都市失敗のときだけ502）。
        正常レスポンスは`Cache-Control: public, max-age=600`で
        10分間ブラウザキャッシュされます。
      parameters:
        - name: demo
          in: query
          required: false
          description: '`1`でデモデータを返す（全都市が同一の気象データになる）'
          schema: { type: string, enum: ['1'] }
      responses:
        '200':
          description: 全国の当日予報サマリー
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NationalResponse' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '502': { $ref: '#/components/responses/UpstreamError' }
  /api/events.ics:
    get:
      summary: 登録済みイベントをiCalendar形式で取得する
      description: |
        登録済みイベント（トップページのイベントタブと同じ一覧）を
        iCalendar（RFC 5545）形式で返します（カレンダーアプリへの取り込み用）。
        形式が不正な項目・終了済みイベントは載せません。単日開催で
        開始・終了時刻が揃っているイベントは時刻付き（UTC表記）、
        それ以外は終日予定です。通知（VALARM）は含めません。
        取り込んだ予定は自動更新されないため、最新のイベント一覧と予報は
        サイト側が正です。正常レスポンスは`Cache-Control: public, max-age=600`で
        10分間ブラウザキャッシュされます。
      responses:
        '200':
          description: iCalendar文書（`Content-Disposition`のファイル名は`fursuit-weather-events.ics`）
          content:
            text/calendar:
              schema: { type: string }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
  /api/badge.svg:
    get:
      summary: 当日判定の埋め込みSVGバッジを取得する
      description: |
        当日（日本時間）の最も厳しい屋外判定を、`<img>`で埋め込める
        SVGバッジで返します。受け付ける地点は主要12都市（city）と
        登録済みイベントの開催地（event）に限定されます（任意座標は
        受け付けません。埋め込み経由の上流無料枠の圧迫対策）。
        暑熱の「危険」判定では「着用中止」を文字で明示します。
        正常レスポンスは`Cache-Control: public, max-age=600`で
        10分間ブラウザキャッシュされます。
      parameters:
        - name: city
          in: query
          required: false
          description: 主要12都市名（トップページの地点セレクトと同じ。cityとeventのどちらか一方が必須）
          schema: { type: string, example: 東京 }
        - name: event
          in: query
          required: false
          description: events.jsonに登録済みのイベント名（開催地を郵便番号から解決する）
          schema: { type: string, maxLength: 100 }
        - name: demo
          in: query
          required: false
          description: '`1`で上流を呼ばずデモデータで応答（表示確認用。city・eventは不要）'
          schema: { type: string, enum: ['1'] }
      responses:
        '200':
          description: 判定バッジのSVG
          content:
            image/svg+xml:
              schema: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: 未登録のイベント名・開催地の座標を解決できない
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '502': { $ref: '#/components/responses/UpstreamError' }
  /api/alert:
    get:
      summary: 表示地点の最寄り都道府県の熱中症警戒アラート発表状況を取得する
      description: |
        環境省の発表状況CSV（毎日5時/17時発表・例年4月下旬〜10月下旬提供）を
        突合し、表示地点の最寄りの都道府県（都道府県庁所在地の代表点で判定）の
        当日の発表状況を返します。発表なし・取得失敗・提供期間外・対象日不一致は
        すべて`alert: null`の200（ベストエフォート）。specialは熱中症特別警戒
        アラート（警戒より深刻な段階）を表します。
        正常レスポンスは`Cache-Control: public, max-age=600`で10分間
        ブラウザキャッシュされます。
      parameters:
        - name: lat
          in: query
          required: true
          description: 緯度（-90〜90）
          schema: { type: number }
        - name: lon
          in: query
          required: true
          description: 経度（-180〜180）
          schema: { type: number }
        - name: demo
          in: query
          required: false
          description: '`1`で上流を呼ばず固定の発表例を返す（表示の死活確認用。lat・lonは不要）'
          schema: { type: string, enum: ['1'] }
      responses:
        '200':
          description: 発表状況（発表なし・取得失敗はalertがnull）
          content:
            application/json:
              schema:
                type: object
                required: [alert]
                properties:
                  alert:
                    type: object
                    nullable: true
                    required: [prefectureName, special, targetDate]
                    properties:
                      prefectureName: { type: string, example: 東京都 }
                      special: { type: boolean, description: 熱中症特別警戒アラートか }
                      targetDate: { type: string, example: '2026-08-25' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
components:
  responses:
    BadRequest:
      description: パラメータの検証エラー
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    MethodNotAllowed:
      description: GET・OPTIONS以外のメソッド
      headers:
        Allow:
          description: 対応メソッド（GET）
          schema: { type: string }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UpstreamError:
      description: 上流APIの障害・タイムアウト・レスポンス形式異常
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      description: >-
        エラーレスポンス（全エンドポイント共通）。`Cache-Control:
        no-store`が付く
      required: [error]
      properties:
        error:
          type: string
          description: 利用者向けの日本語メッセージ
    ForecastResponse:
      type: object
      required: [location, generatedAt, model, attribution, notices, suddenHeat, hours, days]
      properties:
        location:
          type: object
          description: 気象モデルの格子点に丸められた予報地点
          properties:
            latitude: { type: number }
            longitude: { type: number }
            timezone: { type: string }
        generatedAt:
          type: string
          format: date-time
          description: レスポンス生成時刻（UTC）
        model:
          type: string
          description: 使用した気象モデル（デモ時は`demo`）
        attribution:
          type: object
          description: データ出典表記。表示時は出典の明記が必要
          properties:
            weatherData: { type: string }
            weatherDataUrl: { type: string }
            license: { type: string }
        notices:
          type: array
          items: { type: string }
          description: 通年の注意事項
        suddenHeat:
          oneOf:
            - $ref: '#/components/schemas/SuddenHeatWarning'
            - type: 'null'
          description: >-
            急な暑さ（暑熱順化前）の注意。初日の最高気温が直近7日の
            平均最高気温を5℃以上上回り、かつ25℃以上のときに付く。
            該当しない・過去データ不足で判定できないときはnull
        hours:
          type: array
          description: >-
            1時間ごとの予報。欠測の時間は配列から除外されるため
            連続は保証されない（`time`で突き合わせること）
          items: { $ref: '#/components/schemas/HourForecast' }
        days:
          type: array
          items: { $ref: '#/components/schemas/DayForecast' }
    HourForecast:
      type: object
      properties:
        time:
          type: string
          description: ローカル時刻（Asia/Tokyo、例 2026-08-15T09:00）
        weather: { $ref: '#/components/schemas/HourlyWeather' }
        weatherLabel: { type: string }
        outdoor: { $ref: '#/components/schemas/Assessment' }
        indoor:
          allOf:
            - $ref: '#/components/schemas/Assessment'
            - type: object
              properties:
                cooling:
                  type: string
                  enum: [none, recommended, required]
                coolingLabel: { type: string }
    HourlyWeather:
      type: object
      properties:
        temperature: { type: number, description: 気温（℃） }
        humidity: { type: number, description: 相対湿度（%） }
        apparentTemperature: { type: number, description: 体感温度（℃） }
        precipitation: { type: number, description: 降水量（mm） }
        precipitationProbability:
          type: [number, 'null']
          description: 降水確率（%）。補完できない場合はnull
        weatherCode:
          type: integer
          description: WMO天気コード。欠測時は-1
        solarRadiation: { type: number, description: 全天日射量（W/m²） }
        windSpeed: { type: number, description: 風速（m/s） }
    Assessment:
      type: object
      description: 着ぐるみ活動の判定（屋外・屋内共通の形）
      properties:
        wbgt: { type: number, description: 素のWBGT推定値（℃） }
        suitWbgt: { type: number, description: 着衣補正（+11℃）後のWBGT（℃） }
        level:
          type: string
          description: レベルID。低温側はoutdoor系のみに現れる
          enum:
            - safe
            - caution
            - warning
            - severe
            - danger
            - optimal
            - coldCaution
            - coldWarning
            - coldDanger
        label: { type: string, description: 日本語ラベル }
        grade:
          type: integer
          minimum: 0
          maximum: 4
          description: 深刻度（0=快適〜4=危険）
        activityMinutes:
          type: integer
          description: 連続活動時間の上限目安（分）。0は着用中止
        advice: { type: string }
    LevelSummary:
      type: object
      properties:
        level: { type: string }
        label: { type: string }
        grade: { type: integer }
    DayForecast:
      type: object
      properties:
        date: { type: string, format: date }
        temperatureMin: { type: number }
        temperatureMax: { type: number }
        weatherCode: { type: integer, description: 日中の代表天気コード }
        weatherLabel: { type: string }
        sunrise:
          type: [string, 'null']
          description: 日の出時刻（HH:mm）。上流が提供しない・欠測時はnull
        sunset:
          type: [string, 'null']
          description: 日の入り時刻（HH:mm）。上流が提供しない・欠測時はnull
        outdoorWorst: { $ref: '#/components/schemas/LevelSummary' }
        outdoorBest: { $ref: '#/components/schemas/LevelSummary' }
        recommendedHours:
          type: array
          items: { type: string }
          description: >-
            屋外活動に適した時間帯（HH:00形式）。日中（9〜18時）のうち
            深刻度1以下かつ降水量0の時間帯
        coolingRequired: { type: boolean }
        maxWbgt:
          type: number
          description: >-
            素のWBGT（着衣補正前）の日最大値（℃）。33以上は環境省の
            熱中症警戒アラートの発表基準に相当
        maxWindSpeed:
          type: number
          description: >-
            その日の最大風速（m/s、1時間平均の最大。全時間帯から取る）。
            10以上は気象庁の「やや強い風」に相当
        laundry: { $ref: '#/components/schemas/LaundryAssessment' }
        staticElectricity: { $ref: '#/components/schemas/StaticElectricityAssessment' }
        airQuality:
          allOf: [{ $ref: '#/components/schemas/AirQualityAssessment' }]
          nullable: true
          description: 空気のよごれ（黄砂・PM2.5）。取得失敗・欠測時はnull（ベストエフォート）
    SuddenHeatWarning:
      type: object
      properties:
        date: { type: string, format: date, description: 対象日 }
        recentAverageMax:
          type: number
          description: 直近の平均最高気温（℃、小数1桁）
        targetMax: { type: number, description: 対象日の最高気温（℃） }
    LaundryAssessment:
      type: object
      properties:
        score: { type: integer, minimum: 0, maximum: 100 }
        level:
          type: string
          enum: [noDryRain, noDryCold, indoorDry, fair, good, veryGood, excellent]
        label: { type: string }
        fursuitDryingHours:
          type: integer
          description: 着ぐるみ全身洗いの乾燥目安（時間）
        moldWarning: { type: boolean }
        advice: { type: string }
    StaticElectricityAssessment:
      type: object
      properties:
        level:
          type: string
          enum: [low, medium, high]
          description: >-
            静電気の起きやすさ。日中の各時間の湿度・気温を個別に判定し最も厳しいレベルを採用
            （湿度25%未満で「高」、湿度40%未満かつ気温20℃未満で「中」。
            帯電対策の一般的な目安に基づく生活指数）
        label: { type: string, description: 日本語ラベル（低・中・高） }
        advice:
          type: string
          nullable: true
          description: 「高」の日の対策の一言（それ以外はnull）
    AirQualityAssessment:
      type: object
      properties:
        level:
          type: string
          enum: [low, medium, high]
          description: >-
            空気のよごれ（黄砂・PM2.5）。PM2.5の日平均35μg/m³以上または
            黄砂100μg/m³以上で「中」、PM2.5の日平均70μg/m³以上または
            黄砂500μg/m³以上で「高」（CAMS全球モデルの推定値に基づく目安）
        label: { type: string, description: 日本語ラベル（低・中・高） }
        pm25Mean:
          type: number
          nullable: true
          description: PM2.5の日平均（μg/m³、小数1桁。欠測はnull）
        dustMax:
          type: number
          nullable: true
          description: 黄砂（dust）の最大濃度（μg/m³、小数1桁。欠測はnull）
        advice:
          type: string
          nullable: true
          description: 「高」の日の注意の一言（それ以外はnull）
    GeocodeResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          maxItems: 5
          description: 日本国内の地点候補（最大5件）
          items:
            type: object
            properties:
              name: { type: string }
              admin1: { type: string, description: 都道府県名（空のことがある） }
              latitude: { type: number }
              longitude: { type: number }
    NationalResponse:
      type: object
      required: [generatedAt, date, model, attribution, cities]
      properties:
        generatedAt:
          type: string
          format: date-time
          description: レスポンス生成時刻（UTC）
        date:
          type: string
          format: date
          description: 対象日（日本時間の当日）
        model:
          type: string
          description: 使用した気象モデル（デモ時は`demo`）
        attribution:
          type: object
          description: データ出典表記。表示時は出典の明記が必要
          properties:
            weatherData: { type: string }
            weatherDataUrl: { type: string }
            license: { type: string }
        cities:
          type: array
          description: 取得できた都市のみ（失敗した都市は含まれない）
          items: { $ref: '#/components/schemas/NationalCitySummary' }
    NationalCitySummary:
      type: object
      required:
        [name, latitude, longitude, weatherCode, weatherLabel,
         temperatureMin, temperatureMax, outdoorWorst]
      properties:
        name: { type: string, description: '都市名（例: 札幌）' }
        latitude: { type: number }
        longitude: { type: number }
        weatherCode: { type: integer, description: 日中の代表天気コード }
        weatherLabel: { type: string }
        temperatureMin: { type: number }
        temperatureMax: { type: number }
        outdoorWorst: { $ref: '#/components/schemas/LevelSummary' }
